// https://fireship.io/snippets/firestore-rules-recipes/
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read: if false;
    }
    match /{collectionName}/{docId} {
      allow read: if collectionName != 'stub-to-stop-emails';
    }
  }
}
