// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #61c661;
$primary-invert: findColorInvert($primary);

$passed: #61c661;
$passed-invert: findColorInvert($passed);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert),
  "passed": ($passed, $passed-invert),
  "waiting": (#f8b379, findColorInvert(#f8b379)),
  "taken": (#f87979, findColorInvert(#f87979))
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
