// Set your colors before importing Bulma
$primary: #61c661;
$link: $primary;

// Import Bulma
@import "bulma/bulma.scss";

// Custom colors for status
.has-background-passed {
  background-color: #61c661 !important;
  color: #fff !important;
}

.has-background-waiting {
  background-color: #f8b379 !important;
  color: rgba(0, 0, 0, 0.7) !important;
}

.has-background-taken {
  background-color: #f87979 !important;
  color: #fff !important;
}
